# Secrets
.env

# Telegram session
session.session

# Jupyter checkpoints
.ipynb_checkpoints/
logs/
# Python cache
__pycache__/
*.pyc

# Output data (optional - remove if you want to track these)
*.json

# logs
logs/
